<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-input-container dividerColor="accent" class="trm-search-container">
    <input matInput
           (input)="terms$.next($event.target.value)">
  </mat-input-container>
</mat-toolbar>
<mat-list>
    <a mat-list-item [routerLink]="['/contact', contact.id]"
       *ngFor="let contact of contacts$ | async; trackBy: trackByContacts">
      <img mat-list-avatar src="{{contact.image}}">
      <h3 mat-line>{{contact.name}}</h3>
    </a>
</mat-list>
<a mat-fab routerLink="/contact/new" title="Add a new contact" class="trm-floating-button">
  <mat-icon class="md-24" >add</mat-icon>
</a>
