<div class="trm-contact-creator">
  <form #form="ngForm" (ngSubmit)="save(form.value)" >
    <mat-card>
      <mat-card-title-group>
        <img mat-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="column">
          <mat-input-container fxFlex [dividerColor]="name.errors ? 'warn' : 'primary'">
            <input matInput
                   placeholder="Name"
                   name="name"
                   #name="ngModel"
                   ngModel
                   required
                   minlength="3">
            <mat-hint align="end" *ngIf="!name.valid && !name.pristine">
              <ng-container *ngIf="name.errors.minlength">
                Whoops! Bad bad length. Required length: {{name.errors.minlength.requiredLength}}!!!!
              </ng-container>
              <ng-container *ngIf="name.errors.required">
                Whoops! Name is required!!!!!
              </ng-container>
              <!-- Error messages go here -->
            </mat-hint>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Email" name="email" ngModel>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Birthday" name="birthday" type="date" ngModel>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Phone" name="phone" ngModel>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Website" name="website" ngModel>
          </mat-input-container>
          <fieldset fxLayout="column">
            <legend>Address</legend>
            <div ngModelGroup="address">
              <mat-input-container fxFlex>
                <input matInput placeholder="Street" name="street"  ngModel>
              </mat-input-container>
              <mat-input-container fxFlex>
                <input matInput placeholder="Zip" name="zip"  ngModel>
              </mat-input-container>
              <mat-input-container fxFlex>
                <input matInput placeholder="City" name="city" ngModel>
              </mat-input-container>
            </div>
          </fieldset>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
        <button mat-button [disabled]="!form.valid" type="submit">Save</button>
        <a mat-button (click)="cancel()" title="Cancel creating new contact">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
