<div class="trm-contact-creator">
  <form (ngSubmit)="save(form.value)" [formGroup]="form">
    <mat-card>
      <mat-card-title-group>
        <img mat-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="column">
          <mat-input-container fxFlex [dividerColor]="form.get('name').errors ? 'warn' : 'primary'">
            <input matInput
                   placeholder="Name"
                   name="name"
                   formControlName="name">
            <mat-hint align="end" *ngIf="!form.get('name').valid && !form.get('name').pristine">
              <ng-container *ngIf="form.get('name').hasError('minlength')">
                Whoops! Bad bad length
              </ng-container>
              <ng-container *ngIf="form.get('name').hasError('required')">
                Whoops! Name is required!!!!!
              </ng-container>
              <!-- Error messages go here -->
            </mat-hint>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Email" name="email" formControlName="email">
            <mat-hint align="end" *ngIf="!form.get('email').valid && !form.get('email').pristine">
              <ng-container *ngIf="form.get('email').hasError('validateEmail')">
                Whoops! Bad email
              </ng-container>
              <ng-container *ngIf="form.get('email').hasError('emailTaken')">
                Whoops! Email is already taken
              </ng-container>
            </mat-hint>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Birthday" name="birthday" type="date">
          </mat-input-container>


          <div formArrayName="phone">
            <div *ngFor="let phone of form.get('phone').controls;
               let i = index; let l = last">
              <mat-input-container>
                <input matInput placeholder="Phone" [formControlName]="i">
              </mat-input-container>
              <button
                mat-icon-button
                type="button"  *ngIf="i > 1"
                (click)="removePhoneField(i)">
                <mat-icon>highlight_off</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button" *ngIf="l && phone.value != ''"
                (click)="addPhoneField()">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
          <mat-input-container fxFlex>
            <input matInput placeholder="Website" name="website">
          </mat-input-container>
          <fieldset fxLayout="column">
            <legend>Address</legend>
            <div formGroupName="address">
              <mat-input-container fxFlex>
                <input matInput placeholder="Street" name="street" formControlName="street">
              </mat-input-container>
              <mat-input-container fxFlex>
                <input matInput placeholder="Zip" name="zip" formControlName="zip">
              </mat-input-container>
              <mat-input-container fxFlex>
                <input matInput placeholder="City" name="city" formControlName="city">
              </mat-input-container>
            </div>
          </fieldset>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
        <button mat-button [disabled]="!form.valid" type="submit">Save</button>
        <a mat-button (click)="cancel()" title="Cancel creating new contact">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
